<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.sugarest.jane.popularmovies">

    <!-- This permission is necessary in order for Popular Movies to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.Manifest.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.DetailActivity"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <!-- Database -->
        <provider
            android:name=".data.MovieProvider"
            android:authorities="se.sugarest.jane.popularmovies"
            android:exported="true"
            android:grantUriPermissions="true" />

        <!-- Job Scheduler -->
        <service
            android:name=".jobscheduler.jobservice.PersistPopService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".jobscheduler.jobservice.PersistTopService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".jobscheduler.jobservice.PersistFavService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".jobscheduler.jobservice.DeleteExtraMoviePicService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".jobscheduler.jobservice.UpdateWidgetService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".jobscheduler.jobservice.NotificationService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".notification.NotificationIntentService"
            android:exported="false" />

        <!-- FirebaseJobDispatcher -->
        <service
            android:name=".notification.lowerversion.NotificationFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <!-- Widget -->
        <receiver
            android:name=".widget.DetailWidgetProvider"
            android:enabled="true"
            android:label="@string/title_widget_detail">
            <!-- Allow widgets to change accordingly with the action of the main app -->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="se.sugarest.jane.popularmovies.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_detail" />
        </receiver>

        <service
            android:name=".widget.DetailWidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Alarm -->
        <receiver android:name=".alarm.AlarmReceiver">
            <intent-filter>
                <action android:name="se.sugarest.jane.popularmovies.alarm" />
            </intent-filter>
        </receiver>
    </application>

</manifest>